alembic
appdirs
Authlib
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask==2.2.5
Flask-Login==0.6.2
Flask-Migrate
Flask-SQLAlchemy==3.0.3
Flask-WTF
frozendict
greenlet
gunicorn==20.1.0
html5lib
idna
importlib-metadata
itsdangerous
jinja2
lxml
mako
MarkupSafe
multitasking
numpy
packaging
pandas
peewee
plotly
psycopg2-binary
pycparser
python-dateutil
python-dotenv
pytz
requests
six
soupsieve
sqlalchemy
stripe
tenacity
tomli
typing-extensions
tzdata
urllib3
webencodings
Werkzeug==2.2.3
wtforms
alpha-vantage
zipp
